#scrollup {
    position: fixed;
    margin-bottom: 30px;
    bottom: 20px;
    right: 20px;
    display: block;
    background: black;
    color: white;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 400ms ease;
}
#scrollup:hover {
    background: white;
    color: black;
}

#scrolldown {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: block;
    background: black;
    color: white;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 400ms ease;
}
#scrolldown:hover {
    background: white;
    color: black;
}